:root {
  --base-font-family: 'Fira Sans', sans-serif, Helvetica;

  --blue-10-color: white;
  --blue-30-color: #252525;
  --blue-50-color: #0e5eff;
  --blue-70-color: #3D3D3F;
  --blue-90-color: #3D3D3F;

  --seawave-30-color: #7FACAC;
  --seawave-90-color: #252525;

  --white-color: white;

  --dark-grey-color: #3D3D3F;

  --black-color: black;

  --green-50-color: #15c215;
  
  --red-50-color: #b01e1e;

  --main-bg-start-color: var(--blue-30-color);
  --main-bg-end-color: var(--seawave-30-color);
  --main-header-text-color: var(--blue-70-color);
  --shadow-color: #00000029;
  --menu-bg-color: #CBA271;
  --menu-last-bg-color: black;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
}

ul {
  list-style: none;
}

body {
  padding: 0 4vw;
  min-height: 100vh;
  background: linear-gradient(#FFFFFF, #CBA271);
}

body.dark-theme {
  --main-bg-start-color: var(--blue-90-color);
  --main-bg-end-color: var(--seawave-90-color);
  --main-header-text-color: var(--blue-10-color);
  background: linear-gradient(#252525, #CBA271);
}

#app-header {
  width: 100%;
  padding: 4vh 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.app-header__app-name {
  font-size: clamp(1rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
}

.app-header__user-and-controls {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.user-info__avatar {
  width: clamp(2rem, 6vw, 5rem);
  height: clamp(2rem, 6vw, 5rem);
  border-radius: 50%;
  border: 2px solid var(--white-color);
  background: url(images/maria.png) center / cover;
}

.user-info__username {
  font-size: clamp(1rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 6vh;
  height: 3vh;
}

.toggle-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5vh;
  background-color: var(--blue-30-color);
  border: 1px solid var(--white-color);
  transition: .4s;
}

.toggle-switch__slider::before {
  width: calc(3vh - 6px);
  height: calc(3vh - 6px);
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: .4s;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
  background-color: var(--blue-70-color);
}

.toggle-switch__checkbox:checked + .toggle-switch__slider::before {
  transform: translateX(3vh);
}

#app-main {
  width: 100%;
  box-sizing: border-box;
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.menus-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 3vh;
  column-gap: calc(8% / 3);
}

.menus-list__item {
  width: 20%;
  box-sizing: border-box;
  border-radius: 1vw;
  padding: 1vw 1.2vw;
  box-shadow: 2px 2px 4px var(--shadow-color);
  background-color: var(--menu-bg-color);
  border: 2px solid var(--menu-bg-color);
}

.menu.menu_droppable {
  border: 2px dashed var(--blue-50-color);
}

.menu__name {
  font-size: clamp(0.75rem, 2vw, 2rem);
  font-weight: 600;
  margin-bottom: 1vw;
  color: var(--seawave-90-color);
}

.menu__add-dish-btn {
  border: none;
  background: none;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: var(--dark-grey-color);
}

.menu__add-dish-btn:hover {
  font-weight: 600;
  cursor: pointer;
}

.dish {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  gap: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.75vw;
  box-shadow: 2px 2px 4px var(--shadow-color);
  background-color: var(--blue-10-color);
  border: 2px solid var(--blue-10-color);
  transition: background-color 0.5s ease, border-color 0.5s ease;
  cursor: move;
}

.dish:hover {
  background-color: var(--blue-30-color);
  border-color: var(--blue-70-color);
}

.dish__text {
  overflow-wrap: anywhere;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.dish__controls-row {
  display: flex;
  justify-content: center;
  gap: calc(2vw / 3);
}

.dish__contol-btn {
  width: 2vw;
  height: 2vw;
  opacity: 0.6;
  border: none;
}

.dish__contol-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.left-arrow-icon {
  background: url(assets/left-arrow.svg) center / cover;
}

.right-arrow-icon {
  background: url(assets/right-arrow.svg) center / cover;
}

.edit-icon {
  background: url(assets/edit.svg) center / cover;
}

.delete-icon {
  background: url(assets/delete-button.svg) center / cover;
}

.menu:first-child .left-arrow-icon {
  display: none;
}

.menu:nth-last-child(2) .right-arrow-icon {
  display: none;
}

.menu-adder {
  background-color: var(--menu-last-bg-color);
  border-color: var(--menu-last-bg-color);
  transition: background-color 1s ease;
}

/*.menu-adder:hover {
  background-color: var(--menu-bg-color);
  border-color: var(--menu-bg-color);
}*/

.menu-adder__btn {
  border: none;
  background: none;
  font-weight: 400;
  font-size: clamp(0.75rem, 2vw, 2rem);
  color: var(--white-color);
}

.menu-adder__btn:hover {
  font-weight: 600;
  cursor: pointer;
}

.menu-adder__input {
  display: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6vw;
  border-radius: 0.7vw;
  box-shadow: 0 0 4px var(--shadow-color);
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: var(--black-color);
  opacity: 0.7;
}

.menu-adder__input:hover,
.menu-adder__input:focus {
  opacity: 0.7;
}

.dish.dish_selected {
  opacity: 0.6;
}

.app-modal[open] {
  border: none;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-modal::backdrop {
  backdrop-filter: blur(10px);
}

.app-modal__form {
  box-sizing: border-box;
  padding: 2vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.app-modal__input {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5vw);
  color: var(--black-color);
  border: 2px solid var(--black-color)

}

.app-modal__select {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5vw);
  color: var(--black-color);
  border: 2px solid var(--black-color)
}

select {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5vw);
  color: var(--black-color);
  border: 2px solid var(--black-color)
}

.app-modal__controls {
  display: flex;
  justify-self: center;
  gap: 1vw;
}

.app-modal__btn {
  cursor: pointer;
  padding: 5px;
}

.app-notifications {
  border: none;
  right: 0;
  bottom: 3vw;
  left: 100vw;
  transform: translateX(calc(-100% - 3vw));
  background: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.notification {
  box-sizing: border-box;
  border-radius: 0.5vw;
  padding: 10px;
  font-size: clam(0.7rem, 1.5vw, 1.5rem);
  min-width: 15vw;
}

.notification-success {
  background-color: var(--green-50-color);
}

.notification-error {
  background-color: var(--red-50-color);
}

.dishes-change__btn {
  border: none;
  background: none;
  font-weight: 400;
  font-size: clamp(0.75rem, 2vw, 2rem);
  color: var(--white-color);
  background-color: #CBA271;
  border-color: #CBA271;
  transition: background-color 1s ease;
  /*border-radius: 35px; /* добавляем закругление краев */
  padding: 10px 20px; /* увеличиваем отступы вокруг текста кнопки */
}

.dishes-change__btn:hover {
  background-color: black;
}


.buttom-list {
  border-top-width: 10vh;
  /* width: 100%; */
  border: none;
  right: 0;
  bottom: 3vw;
  left: 3vw;
  
  background: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  
}


.change-dishes-list-panel {
  font-size: clamp(1rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
}

.menu__contol-btn {
  width: 2vw;
  height: 2vw;
  opacity: 0.6;
  border: none;
}

.menu__contol-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.menu__controls-row {
  display: flex;
  justify-content: center;
  gap: calc(2vw / 3);
}